<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>PopularPurchases</display-name>
  
  <servlet>
  	<servlet-name>PopularPurchaseServlet</servlet-name>
  	<servlet-class>com.purchases.controllers.PopularPurchaseServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>PopularPurchaseServlet</servlet-name>
  	<url-pattern>/recent_purchases</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>